::selection {
  background: indigo;
  color: peachpuff;
}

:root {
  background: #ddd;
  color: darkviolet;
}

:any-link {
  background: darkorange;
  color: indigo;
}

:focus {
  outline-color: purple;
}

mark {
  background: orange;
  color: indigo;
}
