::selection {
  background: orange;
  color: indigo;
}

:root {
  background: #111;
  color: violet;
}

:any-link {
  background: darkorange;
  color: indigo;
}

mark {
  background: orange;
  color: indigo;
}
