::selection {
  background: skyblue;
  color: indigo;
}

:root {
  background: indigo;
  color: lightsalmon;
}

:any-link {
  background: lightsalmon;
  color: indigo;
}

:focus {
  outline-color: seashell;
}

mark {
  background: orange;
  color: indigo;
}
